@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: "Bilbo";
  font-weight: normal;
  src: url(../fonts/BilboSwashCaps-Regular.ttf); }

* {
  margin: 0px;
  padding: 0px; }

body {
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #76b852);
  background: -moz-linear-gradient(right, #76b852, #76b852);
  background: -o-linear-gradient(right, #76b852, #76b852);
  background: linear-gradient(to left, #76b852, #76b852);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.search_ticket_panel {
  padding-left: 0px; }

.list_trips_panel {
  padding-right: 0px; }

.list_orders_panel {
  padding-left: 0px;
  padding-right: 0px; }

.navbar-default {
  background: #76b852;
  border-color: #76b852; }

.navbar-default .navbar-nav > .active > a {
  color: white; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.navbar-default .navbar-nav > .active > a {
  color: white;
  font-weight: bold;
  background-color: #76b852; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #76b852;
  color: white; }

.navbar-default .navbar-brand {
  color: white;
  font-family: "Bilbo";
  font-size: 28px; 
}

.orders-options .dropdown-menu a {
  text-align: left; }

.bootstrap-datetimepicker-widget {
  font-size: 11px !important; }

.fb_button {
  cursor: pointer;
  background: #FFFFFF;
  width: 270px;
  display: inline-block;
  height: 50px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #7A7A7A;
  line-height: 16px; }
  .fb_button .fb_icon_content {
    font-size: 16px;
    line-height: 48px; }
  .fb_button:hover {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Roboto; }

table.search_trips_results, table.user_orders {
  font-size: 12px; }
  table.search_trips_results td, table.user_orders td {
    vertical-align: middle; }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form button:hover, .form button:active, .form button:focus {
  background: #43A047; }

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px; }

.form .message a {
  color: #4CAF50;
  text-decoration: none; }

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto; }
