* {
	margin: 0px;
	padding: 0px;
}

.bootstrap-datetimepicker-widget {
	font-size: 11px !important;
}

table.search_trips_results.table.table-striped.table-condensed.table-hover {
	font-size: 12px;
	td{
		vertical-align: middle;
	}
}