<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Train Commander, <%= @user.email %></h1>
    <p>
      You have successfully purchased your ticket for a trip.
      your email is: <%= @user.email %>.<br>
    </p>
    <p>
      To purchase again, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for using Train Commander and have a great day!</p>
  </body>
</html>